body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: #F3C6BD;
    padding: 30px 0;
    
}
.header-stick{
    position: sticky;
    z-index: 2;
    top: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav >div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: rgba(48, 64, 196, 1);
    padding: 17px 28px;
    cursor: pointer;
    border-radius: 2px;
}

.button:hover{
    color: rgba(48, 64, 196, 1);
    background-color:rgba(255, 255, 255, 1) ;
    transition: 1s;
}


.header{
    background-color: #F3C6BD;
    padding: 30px 0 px;
    
}

.header-wrapper{
    display: flex;
    position: relative;
    padding-bottom: 126px;
    
}

.header-wrapper>div:last-of-type{
    position: absolute;
    right: -108px;
    top: 0;
    z-index: 0;
}


.header-wrapper>div:first-of-type{
    max-width: 754px;
    z-index: 1;  
}
/* ----------------burger-menu----------------- */

.check{
    width: 30px;
    height: 2px;
    background: rgba(44, 50, 65, 0.6);
    transition: 500ms linear;
}

.check:not(:last-child){
    margin-bottom: 4px;
}

.menu{
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox{
    position: absolute;
    display: block;
    z-index: 4;
    width: 30px;
    height: 30px;
    opacity: 0;
}

.checkbox:checked ~ .check-wrapper>.check:first-of-type{
    transform: rotate(-45deg) translate(2px, -5px);
}

.checkbox:checked ~ .check-wrapper>.check:last-of-type{
    transform: rotate(45deg)  translate(-10px, -5px);
}

.checkbox:checked ~ .check-wrapper>:nth-child(2){
    display: none;
}

.checkbox, .check-wrapper{
    display: none;
}


/* ----------------------------------------- */

h1{
    font-size: 80px;
    line-height: 78px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 58px;
}

.button-white{
    background: white;
    color: rgba(48, 64, 196, 1);
}

/* ----------------------------------------------- */

.section-what {
    background-color: #F4F5F7;
}

.what-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 77px ;
}

.what{
    max-width: 555px;
}

.what-container >.what:last-child{
    margin-left: 30px;
}

.text-h3{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.text-p{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D; 
}


.section-logo{
    padding: 30px 0;
}

.logotype{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* --------------SECTION-LEAD-------------- */

.lead{
    margin-top: 76px;
}
.lead-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}
.text-small__green{
    color: rgba(0, 155, 77, 1);

}

.head-img{
    position: absolute;
    left: -13%;
    top: 41%;
}


.screen-img{
    position: absolute;
    right: -120px;
    top: 0;
    max-width: 684px;
}

.lead-customer{
    border-bottom: 3px solid rgb(49, 66, 198);
    max-width: 459px;
    
}

.lead-customer>p{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin: 8px 0 17px;
    cursor: pointer;

}


.customer, .lead-items{
    display: flex;
    align-items: center;
}

.lead-box{
    display: none;
}
.customer>p{
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    color: #3142C6;
}

.lead-items{
    display: flex;
    border-bottom: 1px solid rgba(43, 41, 45, 0.15);
 
}



.lead-items>p{
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;
    font-weight: bold;
    margin: 20px 15px 22px;

}


/* --------------SECTION-LEAD-------------- */


/* ------------SECTION-BUSY------------- */

.busy{
    padding: 100px 0;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-small__blue{
    color: rgba(1, 137, 209, 1);
    font-weight: bold;
    margin-bottom: 25px;
}
.title-inner{
    max-width: 462px;
    margin-bottom: 30px;

}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 39px;
}

.info{
    padding: 40px 0 105px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
    
}

.info-p{
    max-width: 360px;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 10px;
   
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040C4;
}

/* ------------SECTION-BUSY------------- */

/* ---------------SECTION-MANAGE-------------- */

.section-manage{
    background: rgba(252, 240, 227, 0.4)


}
.text-small__red{
    color: rgba(241, 89, 43, 1);
    margin-bottom: 24px;
    
}

.profile{
    display: flex;
    margin-top: 20px;
}
b{
    font-weight: bold;
}
.manage-coment{
    background-color: #FFFFFF;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 4px solid rgba(1, 133, 208, 1);
}

.profile__name{
    font-weight: bold;
    margin-bottom: 5px;
}

.mini-text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    max-width: 459px;
}

.profile>div:first-child{
    margin-right: 11px;
}

.profile__position{
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.wheel-animation{
    animation-name: wheel-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: linear;
}

/* ---------------SECTION-MANAGE-------------- */

/* ---------SECTION-ENGAGE----------- */

.section-engage{
    padding: 110px 0;
    background:  rgba(0, 161, 198, 0.07);
    
}

.text-engage{
    text-align: center;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
}

h2{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    font-weight: bold;
    color: #2B292D;
}

.section-engage> .container > div > h2{
    max-width: 555px;
    margin: 24px auto;
    text-align: center;
}

.text-small{
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
   
}

.section-engage> .container > div > .text-small{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
    color: #2B292D;  

}

.button-get{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 111px;
    
}

.button-get> div:nth-child(2){
    margin-left: 10px;
  
}


.grid-devolp{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    
}

.grid-devolp> div{
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 262px;
    height: 300px;
    padding: 22px 60px;
    cursor: pointer;
    box-sizing: border-box;
    
}

.grid-devolp > div:nth-child(4) {
    padding: 22px 72px;
}

.grid-devolp> div> p{
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin-top: 22px;
}

.grid-devolp > div:hover{
    background: rgba(49, 65, 197, 1);
    color: white;
    transition: 1000ms;

}

.free-small{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 10px;
}



/* ---------SECTION-ENGAGE----------- */

/* ----------SECTION-ABOUT--------------- */

.about>div:first-child{
    text-align: center;
    margin-top: 100px;
}

.about>div>div>.text-inner{
    margin: 20px auto 28px;
}

.about-items__container{
    max-width: 750px;
    margin: 0 auto;
}

.about-items__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-items__flex>div:first-child{
    display: flex;
    justify-content: space-between;
}

.about-items{
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 22px 28px;
    margin-bottom: 20px;
    cursor: pointer;
}

.about>.container>div>div>.button{
    margin-bottom: 63px;
}

.about-items> p{
    margin-top: 20px;
    display: none;
    max-width: 410px;
    text-align: start;
}

.about-icon{
    color: rgba(44, 50, 65, 0.6);
    
}

.about-position{
    font-size: 22px;
    line-height: 28px;
    width: 410px;
    text-align: start;
}

.about-position__place{
    font-size: 18px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
    text-align: end;
    
}

.about-position__place-color, .active-color{
    color: #FFFFFF;
}

.active{
    transform: rotate(90deg);
    transition: 1s;
}

.toggleBg{
    background: rgba(49, 65, 197, 1);
    color: white;
 
}

.toggleBg>.about-position__place{
    
    color: white;
 
}


/* ----------SECTION-ABOUT--------------- */

/* -------SECTION-WRAP----------- */
.section-wrap{
    padding: 90px 0;
}



.grid-container{
    margin-top: 96px;
    display: grid;
    column-gap: 50px;
    row-gap: 40px;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
}

.grid-container > img{
    width: 100%;
    height: 100%;
}

.grid-container > img:nth-child(1){
    grid-area: one;
}

.grid-container > img:nth-child(2){
    grid-area: two;
}

.grid-container > img:nth-child(3){
    grid-area: three;
}

.grid-container > img:nth-child(4){
    grid-area: four;
}

.grid-container > img:nth-child(5){
    grid-area: five;
}

.grid-container > img:nth-child(6){
    grid-area: six;
}

.grid-container > img:nth-child(7){
    grid-area: seven;
}


.h2-section-wrap{
   
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #000000;

}

.p-text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172342;
    max-width: 554px;
    margin: 26px auto;
}

/* -------SECTION-WRAP----------- */

/* ----------SECTION-TRIAL----------- */


.trial-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 77px ;
}

.free-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    margin-bottom: 12px;
}

.free-text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 555px;
    margin-bottom: 26px;
}

.free-input{
    width: 385px;
    padding: 13px 0 15px 12px;
    margin-right: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
}

.free-input:focus{
    outline: none;
}

.free-input::placeholder{
    font-size: 18px;
    line-height: 13px;
    color: #2B292D; 
}

.animation-img{
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: linear;
}

@keyframes img{
    0%{
        top: 0%;
    }
    25%{
       top: -25px; 
    }
    50%{
        top: -50px;
    }
    75%{
        top: -25px;
    }
    100%{
        top: 0;
    }
}

@keyframes wheel-animation{
    0%{
        left: 0;
    }
    25%{
       left: 25px; 
    }
    50%{
        left: 0px;
    }
    75%{
        left: -25px;
    }
    100%{
        left: 0;
    }
}   

/* ----------SECTION-TRIAL----------- */

/* -------------FOOTER--------------------- */

footer{
    padding: 130px 0 50px;
}

.footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-text{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    max-width: 360px;
    margin: 25px 0;
}

.ul-flex{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.flex-li{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.ul-flex>div>ul:nth-child(1){
    margin-right: 60px;
}

.ul-bold{
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 18px;
}

.footer-end{
    display: flex;
    align-items: center;
}

.footer-end>p:nth-last-of-type(2){
    margin: 0 10px;
}

.footer__underline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.line{
    width: 100%;
    border-bottom: 2px solid  rgba(43, 41, 45, 0.1);
    margin: 59px 0 13px;
    
}

.line1{
    width: 100%;
    border-bottom: 2px solid  rgba(43, 41, 45, 0.1);
    margin: 59px 0 13px;display: none;
    
}



/* -------------FOOTER--------------------- */
@media(max-width: 1365px){
    .header-wrapper>div>img{
        max-width: 90%;
    }

    .screen-img{
        position: absolute;
        right: 0px;
        top: 0;
        max-width: 600px;
    }

   
    
    

}

@media (max-width: 1200px){
    .container{
        width: 1040px;
    }
    .info{
        padding: 30px 0 90px;
    }

    .section-wrap{
        padding: 70px 0;
    }

    .busy{
        padding: 70px 0;
    }

    .button-get{
        margin-bottom: 80px ;
    }

    .lead{
        margin-top: 41px;
    }
    .lead-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        position: relative;
        
    }

    .lead-box{
        max-width: 489px;
    }
    .lead-container>div{
        margin: 0 auto;
    }
    .text-small__green{
        text-align: center;
    }

    .lead-container>div>.title-inner, .text-inner{
        text-align: center;
    }
    
    .head-img{
        position: absolute;
        left: -8%;
        top: 25%;
    }
    
    
    .screen-img{
        position: static;
        width: 538px;
        margin: 0 auto;
        padding-right: 70px;
    }

    .screen-img>img{
        width: 100%;
    }
    

}


@media (max-width: 1090px){
    .container{
        width: 750px;
    }
    .header{
        padding: 31px auto;
    }

    .logo>div>p:last-child{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .checkbox{
        display: block;
        
    }
    .check-wrapper{
        display: block;
        z-index: 3;
    }

    .header-nav{
        text-align: center;
  
    }

    .header-nav>ul{
        margin: 50px auto;
    }

    .header-nav>ul>li{
        display: block;   
    }

    .header-li{
        text-align: center;
        margin-bottom: 10px;
        font-size: 40px;
    }

    .header-li>a {
        align-items: center;
        font-size: 22px;
        padding: 10px;
        
    }

    .header-li:not(:last-child) {
        margin-right: 0px;
    }

    .header-nav >div {
        margin-left: 0px;
    }
    
       

    


    .checkbox:checked ~ .header-nav{
        display: block;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F3C6BD;
       
    }
    .header-wrapper>div:last-of-type{
        max-width: 754px;
         z-index: 0;
        left: 100px;

    }

    h1{
        max-width: 525px;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -0.5px;
    }

    .header-wrapper{
        flex-direction: column;
        padding-bottom: 0;
    }

    .header-wrapper>div>p{
        text-align: start;
        margin: 20px 0;
        max-width: 355px;
    }

    .header-wrapper>div:last-of-type{
        position: static;
        max-width: 620px;
        margin: 0 auto;
    }

    .header-wrapper>div>div>.button{
        max-width: 125px;
        padding: 18px 15px;
    }






    .what-container{
        padding: 30px;
        flex-direction: column;
        align-items: center;
    }
    .what-container >.what:last-child{
        margin: 30px 0 0;

    }
    .logotype{
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 2fr);
        gap: 30px;
        justify-items: center;
        
    }


    .lead{
        margin: 30px 0;
    }

    .lead-container>div{
        margin: 0 auto;
        width: 469px;
    }
  
    .lead-container>div>.title-inner, .text-inner{
        max-width: 462px;
    }
    
    .head-img{
        left: -22%;
        top: 25%;
    }
    
    .screen-img{
        position: static;
        max-width: 538px;
        margin: 0 auto;
        padding-right: 20px;
    }



    .section-engage{
        padding: 50px 0;
    }

    .text-small{
        font-size: 20px;
        line-height: 26px;
        
    }
    h2{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    .title-inner{
        max-width: 318px;
        margin: 0 auto;
    }

    .text-inner{
        font-size: 20px;
        line-height: 26px;
    }

    .busy{
        padding: 40px 0;
    }


    .info{
        padding: 0 0 38px;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .busy-flex div:first-of-type{
        margin-bottom: 37px;
    }

    .info-flex > div:nth-of-type(1){
        max-width: 322px;
    }

    .info-flex > div:nth-of-type(2){
        display: none;
    }
    .info-flex > div:nth-of-type(3){
        display: none;
    }

    .info-flex {
        justify-content: center;
        text-align: center;
        
    }



    .about>div:first-child {
        
        margin-top: 80px;
    }

    .grid-devolp{
        max-width: 588px;
        grid-template-columns: repeat(2, 2fr);
         
    }

    .grid-container{
        column-gap: 45px;
        row-gap: 30px;
        grid-template-areas: 
        "one three"
        "four three"
        "four five"
        "six two";
    }

    .grid-container >img:nth-child(7){
        display: none;
    }
    

    .trial-container{
        padding: 30px;
        flex-direction: column-reverse;
        align-items: center;
    } 
    
    .trial-container>div:first-child{
        margin-top: 70px;
    }

    .free-title{
        margin: 50px auto;
        font-size: 48px;
        line-height: 40px;
        text-align: center;
        max-width: 325px;
    }

    .free-text{
        text-align: center;
        max-width: 590px;
    }

    .free-input{
        max-width: 290px;
    }

    .trial-container>div>form>.button{
        width: 290px;
    }

    .free-small{
        max-width: 430px;
        margin: 20px auto;
    }

    .text-small__red{
        text-align: center;
    }

    .title-inner{
        text-align: center;
    }

    .text-inner{
        text-align: center;
        margin: 20px auto;
    }

    footer{
        padding: 48px 0;
    }

    .footer-text{
        display: none;
    }

    .footer-flex{
        flex-direction: column;
        text-align: center;
    }

    .ul-flex{
        flex-direction: column;
        text-align: start;
        align-items: center;
    }

    .footer-flex>div>.logo>div>p:last-child{
        display: block;
    }


    .footer-flex>div>.logo{
        flex-direction: column;
        text-align: center;
        width: 343px;
    }

    .footer-flex>div>.logo>div:first-child{
        margin-bottom: 32px;
    }



    .footer-flex>div>.logo>div>.logo-regular{
        font-size: 24px;
        height: 25px;
        padding-bottom: 32px ;


    }


    .text-img>img:last-child{
        margin-left: 25px;
    }

    .text-img{
        margin-bottom: 32px;
    }

    .tin{
        width:  265px;

    }

    .ul-flex>:last-child{
        margin: 25px 0 38px;
    }

    .line{
        display: none;
    }

    .footer__underline{
        flex-direction: column;
        
    }
    
    .footer-end{
        width: 265px;
        margin-bottom: 28px;

    }

    .footer__underline>div:last-child{
        width: 265px;
        margin-bottom: 28px;
    }

}

@media (max-width: 800px){
    .container{
        width: 500px;
    }

    .trial-container>div>form>.button{
        width: 150px;
    }

    .free-input{
        font-size: 16px;
    }

    .free-input::placeholder{
        font-size: 16px;
    }
    h1{
        margin-bottom: 20px;
    }

    .lead{
        margin: 20px 0;
    }

    .head-img{
        left: -30%;
    }

    .about-items>div>.about-items__flex>div{
        max-width: 400px;
    }
    
}

@media (max-width: 550px){
    .container{
        width: 430px;
    }

    .header{
        padding: 15px 0;  
    }

    h1{
        font-size: 45px;
        line-height: 50px;
        letter-spacing: -0.5px;
    }

  
    
    .lead-container>div>.title-inner, .text-inner, .text-small__green{
        text-align: start;
    }

    .lead-container>div>.title-inner{
        margin: 0;
    }
    
    .head-img{
        display: none
    }
    
    
    .screen-img{
       max-width: 450px;

    }

    .about-items{
        padding: 0;
    }
 
    .about-items__flex>div{
        max-width: 300px;
    }
    .about-items__flex>div{
        flex-direction: column;
        max-width: 300px;
    }

    .about-position{
        max-width: 250px;
    }
    .about-position__place{
        text-align: start;
        max-width: 250px;
    }

    .about-position{
        margin-bottom: 25px;
        max-width: 150px;

    }
    .about-position__place, .about-position{
        margin-left: 10px;
        
    }

    .about-items__flex>div:last-child{
        width: 50px;
        height: 140px;
        background: #D5D4D5;
        border-radius: 0px 8px 8px 0px;
        padding: auto 0;
        align-self:auto;  
    }

    .about-items__flex>div{
        position: relative;
    }
    .about-items>p:last-child{
        width: 280px;
        padding: 5px 10px;
    }



    .about-items__flex>div:last-child>p{
        margin-top: 60px;
        
    }

    .about-items>p{
        max-width: 250px;
        
    }


    .grid-devolp{
        grid-template-columns: repeat(1, 4fr);
    }
    .grid-devolp>div{
        margin: 0 auto ;
    }

    .grid-container{
        column-gap: 45px;
        row-gap: 30px;
        grid-template-areas: 
        "one"
        "four"
        "four"
        "three"
        "three"
        "five"
        "six";
    }
    .grid-container >img:nth-child(2){
        display: none;
    }

    .info-flex{
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }


    .info-flex > div:nth-of-type(2){
        display: block;
        max-width: 322px;
        margin: 30px 0;
    }
    .info-flex > div:nth-of-type(3){
        display: block;
        max-width: 322px;
    }

    .trial-container{
        flex-direction: column;
    }

    .trial-container>div>form>.button{
        width: 290px;
        align-items: center;
        margin: 12px auto;
    }

    form{
        text-align: center;
        
    }
    .free-input{
        margin: 0 auto;
    }

    .free-small{
        max-width: 290px;
        margin: 0 auto;
    }

}

@media (max-width: 480px){
    .container{
        width: 310px;
    }

    .header-wrapper>div>img{
        max-width: 100%;
        margin-top: 18px;

    }

    .header-wrapper>div>div{
        display: flex;
        flex-direction: column;
    }

    .header-wrapper>div>div>.button{
        max-width: 290px;
        margin-bottom: 15px;

    }

    .what-container{
        padding: 10px 0;
    }

    .what{
        max-width: 290px;
        padding: 0 auto;
    }

    .logotype>div>img{
      max-width: 100px;
    }

    .logotype{
        gap: 5px;
    }

    .lead-container>div>.text-inner{
       max-width: 290px;  
    }

    .lead-container>div>.title-inner{
        max-width: 290px;  
    }


    .lead-container>div>.text-inner{
        text-align: start;
        margin: 0 0;
    }

    .customer>p{
        font-size: 16px;
        line-height: 26px;
        
    }

    .customer{
        margin-top: 33px;
    }

    .lead-customer>p{
        font-size: 16px;
        line-height: 26px;
        color: #2B292D;
        
    }

    .lead-items>p{
        font-size: 16px;
        line-height: 26px;
    }

    .lead-customer, .lead-items, .screen-img{
        max-width: 290px;
    }


    .manage-coment{
        padding: 10px;
    }

    .wheel-animation{
        max-width: 100%;
    
    }

    .busy-flex>div>img{
        max-width: 100%;
    }

 
    .about-items{
        padding: 0;
        max-width: 310px;
    }

    .about-items>div>.about-items__flex{
        max-width: 310px;
    }
  


    .about-items__flex>div {
        max-width: 310px;
        flex-direction: column;
       
    }
 
  
    .about-position__place{
        text-align: start;
    }




    


}

@media (max-width: 360px){
    .container{
        width: 270px;
    }


    .header{
        background-color: rgba(255, 255, 255, 1);
        
    }
    .header-color{
        background-color: #F3C6BD;
    }

    h1{
        font-size: 50px;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
    }

    .lead-container>div>div, div{
        max-width: 270px;
    }
   

    .lead-customer, .lead-box{
        max-width: 270px;
        margin: 0 auto;
        
    }


    .lead-container>div>div{
        margin: 0 auto;
    }


    .screen-img{
        max-width: 270px;
        padding-right: 0;
        
    }
    .lead-customer{
        margin: 0 auto;
        max-width: 270px;
    }

    .busy-flex>div>img{
        max-width: 270px;
    }

    .button-get{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
          
    }

    .button-get>div>.button{
        width: 100%;
    }

    .button-get>div:nth-child(2){
        margin: 10px 0;
    }

    .grid-devolp>div{
        width: 100%;
    }

    .free-title{
        text-align: start;
        margin: 30px auto;
    }

    .free-text{
        text-align: start;
    }
    .wheel-animation{
        max-width: 100%;
    }
    .title-inner{
        text-align: start;
    }
    .text-inner{
        text-align: start;
    }
    .h2-section-wrap{
        font-size: 40px;
        line-height: 47px;
    }

    h2{
        font-size: 40px;
        line-height: 40px;
        
    }

    .text-small__red{
        text-align: start;
    }
    .text-small__blue{
        text-align: start;
    }

    .busy-flex>div>div{
        text-align: start;
    }

}

@media (max-width: 320px){
    .container{
        width: 300px;
    }

    .header{
        padding: 8px 0;
    }


    .logotype{
        margin: 0 auto;
        text-align:  center;
        row-gap: 2px;
        
        
    } 

    .logotype>div>img{
        max-width: 100%;
       
    } 

    .screen-img{
        max-width: 290px;
        padding-right: 50px;
        
        
    }

    .trial-container{
        padding: 0 auto;
    }

    .text-small__blue, .title-inner, .text-inner{
        text-align: start;
    }

    .busy-flex>div>div{
        text-align: start;
    }

    .wheel-animation{
        max-width: 80%;
    
    }

    h2{
        font-size: 40px;
        line-height: 40px;
        
    }
    
    .h2-section-wrap{
        font-size: 40px;
        line-height: 47px;
    }

    .p-text{
        font-size: 24px;
        line-height: 34px;
        width: 303px;
       
    }

    .grid-container{
        margin-top: 25px;
    }

    .animation-img{
        max-width: 90%;
    }

    .free-text{
        margin-bottom: 40px;
    }

    .free-input{
        max-width: 280px;
    }

    .trial-container>div>form>.button{
        width: 280px;
        margin: 10px auto;
    }

    .free-small{
        max-width: 280px;
       
    }

    .manage-coment{
        max-width: 270px;
    }

    .about>.container>div>div>.button {
        margin-bottom: 30px;
        width: 270px;
    }

    footer{
        padding: 48px 0;
    }

    .footer-text{
        display: none;
    }

    .footer-flex{
        flex-direction: column;
        text-align: center;
    }

    .ul-flex{
        flex-direction: column;
        text-align: start;
        align-items: center;
    }

    .footer-flex>div>.logo>div>p:last-child{
        display: block;
    }


    .footer-flex>div>.logo{
        flex-direction: column;
        text-align: center;
        width: 343px;
    }

    .footer-flex>div>.logo>div:first-child{
        margin-bottom: 32px;
    }



    .footer-flex>div>.logo>div>.logo-regular{
        font-size: 24px;
        height: 25px;
        padding-bottom: 32px ;


    }

    .about-items, .about-items>div{
        max-width: 290px;
    }

    .about-position{
        font-size: 22px;
        line-height: 28px;
    }

    .text-img>img:last-child{
        margin-left: 10px;
    }

    .text-img{
        margin-bottom: 32px;
    }

    .tin{
        width:  265px;

    }

    .ul-flex>:last-child{
        margin: 25px 0 38px;
    }

    .line{
        display: none;
    }

    .footer__underline{
        flex-direction: column;
        
    }
    
    .footer-end{
        width: 265px;
        margin-bottom: 28px;

    }

    .footer__underline>div:last-child{
        width: 265px;
        margin-bottom: 28px;
    }

    .line1{
        display: block;
        margin: 0 0 30px;
    }
    
    .footer-flex>div>.logo>div>.logo-regular{
        font-size: 18px;
    }

}


    



