body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
    
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav >div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: rgba(48, 64, 196, 1);
    padding: 17px 28px;
    cursor: pointer;
    border-radius: 2px;
}

.button:hover{
    color: rgba(48, 64, 196, 1);
    background-color:rgba(255, 255, 255, 1) ;
    transition: 1s;
}

.section-what {
    background-color: #F4F5F7;
}

.what-container{
    display: flex;
    padding: 77px 130px;
}

.what{
    max-width: 555px;
}

.what-container >.what:last-child{
    margin-left: 30px;
}

.text-h3{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.text-p{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D; 
}


.section-logo{
    padding: 30px 0;
}

.logotype{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* ------------SECTION-BUSY------------- */

.busy{
    padding: 100px 0;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-small__blue{
    color: rgba(1, 137, 209, 1);
    font-weight: bold;
    margin-bottom: 25px;
}
.title-inner{
    max-width: 462px;
    margin-bottom: 30px;

}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 39px;
}

.info{
    padding: 40px 0 105px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
    
}

.info-p{
    max-width: 360px;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 10px;
   
}

.info-p > span{
    font-weight: bold;
}

.info-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040C4;
}

/* ------------SECTION-BUSY------------- */

/* ---------SECTION-ENGAGE----------- */

.section-engage{
    padding: 110px 0;
    background:  rgba(0, 161, 198, 0.07);
    
}

.text-engage{
    text-align: center;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
}

h2{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    font-weight: bold;
    color: #2B292D;
}

.section-engage> .container > div > h2{
    max-width: 555px;
    margin: 24px auto;
    text-align: center;
}

.text-small{
    font-size: 24px;
    line-height: 34px;
   
}

.section-engage> .container > div > .text-small{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
    color: #2B292D;  

}

.button-get{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 111px;
    
}

.button-get> div:nth-child(2){
    margin-left: 10px;
  
}


.grid-devolp{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    
}

.grid-devolp> div{
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 262px;
    height: 300px;
    padding: 22px 60px;
    cursor: pointer;
    box-sizing: border-box;
    
}

.grid-devolp > div:nth-child(4) {
    padding: 22px 72px;
}

.grid-devolp> div> p{
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin-top: 22px;
}

.grid-devolp > div:hover{
    background: rgba(49, 65, 197, 1);
    color: white;
    transition: 1000ms;

}



/* ---------SECTION-ENGAGE----------- */

/* -------SECTION-WRAP----------- */
.section-wrap{
    padding: 90px 0;
}



.grid-container{
    margin-top: 96px;
    display: grid;
    column-gap: 50px;
    row-gap: 40px;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
}

.grid-container > img{
    width: 100%;
    height: 100%;
}

.grid-container > img:nth-child(1){
    grid-area: one;
}

.grid-container > img:nth-child(2){
    grid-area: two;
}

.grid-container > img:nth-child(3){
    grid-area: three;
}

.grid-container > img:nth-child(4){
    grid-area: four;
}

.grid-container > img:nth-child(5){
    grid-area: five;
}

.grid-container > img:nth-child(6){
    grid-area: six;
}

.grid-container > img:nth-child(7){
    grid-area: seven;
}


.h2-section-wrap{
   
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #000000;

}

.p-text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172342;
    max-width: 554px;
    margin: 26px auto;
}

/* -------SECTION-WRAP----------- */

@media (max-width: 1200px){
    .container{
        width: 1040px;
    }
    .info{
        padding: 30px 0 90px;
    }

    .section-wrap{
        padding: 70px 0;
    }

    .busy{
        padding: 70px 0;
    }

    .button-get{
        margin-bottom: 80px ;
    }
}

@media (max-width: 1090px){
    .container{
        width: 750px;
    }
    .header{
        padding: 31px auto;
    }

    .logo>div>p:last-child{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .what-container{
        padding: 30px;
        flex-direction: column;
        align-items: center;
    }
    .what-container >.what:last-child{
        margin: 30px 0 0;

    }
    .logotype{
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 2fr);
        gap: 30px;
        justify-items: center;
        
    }

    .section-engage{
        padding: 50px 0;
    }

    .text-small{
        font-size: 20px;
        line-height: 26px;
    }
    h2{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    .title-inner{
        max-width: 318px;
        margin: 0 auto;
    }

    .text-inner{
        font-size: 20px;
        line-height: 26px;
    }

    .busy{
        padding: 40px 0;
    }


    .info{
        padding: 0 0 38px;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .busy-flex div:first-of-type{
        margin-bottom: 37px;
    }

    .info-flex > div:nth-of-type(1){
        max-width: 322px;
    }

    .info-flex > div:nth-of-type(2){
        display: none;
    }
    .info-flex > div:nth-of-type(3){
        display: none;
    }

    .info-flex {
        justify-content: center;
        text-align: center;
        
    }

    .grid-devolp{
        max-width: 588px;
        grid-template-columns: repeat(2, 2fr);
         
    }

    .grid-container{
        column-gap: 45px;
        row-gap: 30px;
        grid-template-areas: 
        "one three"
        "four three"
        "four five"
        "six two";
    }

    .grid-container >img:nth-child(7){
        display: none;
    }
    


}
@media (max-width: 800px){
    .container{
        width: 500px;
    }
}

@media (max-width: 550px){
    .container{
        width: 430px;
    }

    .header{
        padding: 15px 0;  
    }

    .grid-devolp{
        grid-template-columns: repeat(1, 4fr);
    }
    .grid-devolp>div{
        margin: 0 auto ;
    }

    .grid-container{
        column-gap: 45px;
        row-gap: 30px;
        grid-template-areas: 
        "one"
        "four"
        "four"
        "three"
        "three"
        "five"
        "six";
    }
    .grid-container >img:nth-child(2){
        display: none;
    }

    .info-flex{
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }


    .info-flex > div:nth-of-type(2){
        display: block;
        max-width: 322px;
        margin: 30px 0;
    }
    .info-flex > div:nth-of-type(3){
        display: block;
        max-width: 322px;
    }

}

@media (max-width: 480px){
    .container{
        width: 310px;
    }

    .what-container{
        padding: 10px 0;
    }
    .what{
        max-width: 290px;
        padding: 0 auto;
    }
    .logotype>div>img{
      max-width: 100px;
    }

    .logotype{
        gap: 5px;
    }

}

@media (max-width: 360px){
    .container{
        width: 270px;
    }

    .header{
        background-color: rgba(255, 255, 255, 1);
        
    }

    .busy-flex>div>img{
        max-width: 270px;
    }

    .button-get{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
          
    }

    .button-get>div>.button{
        width: 100%;
    }

    .button-get>div:nth-child(2){
        margin: 10px 0;
    }

    .grid-devolp>div{
        width: 100%;
    }


}

@media (max-width: 320px){
    .container{
        width: 290px;
    }

    .header{
        padding: 8px 0;
    }


 .logotype{
        margin: 0;
        text-align:  center;
        row-gap: 2px;
        
        
    } 


 .logotype>div{
        width: 107px;
       
    } 


    .text-small__blue, .title-inner, .text-inner{
        text-align: start;
    }

    .busy-flex>div>div{
        text-align: start;
    }

    .busy-flex>div>img{
        max-width: 290px;
    }


    h2{
        font-size: 40px;
        line-height: 40px;
        
    }
    
    .h2-section-wrap{
        font-size: 40px;
        line-height: 47px;
    }

    .p-text{
        font-size: 24px;
        line-height: 34px;
        width: 303px;
       
    }

    .grid-container{
        margin-top: 25px;
    }
    

 




 

}    